:host ::ng-deep .main-content{
  margin: 20px;
}
:host ::ng-deep .p-menubar {
  font-size: 20px !important;
}
:host ::ng-deep  .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-icon {
  font-size: 1.25rem !important;
}

:host ::ng-deep .p-menubar .pi-fw {
  font-size: 1.25rem !important;
}
:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-text {
  color: #4c5257;
  font-size: 15px !important;
}
:host ::ng-deep .p-menubar {
  padding: 0.5rem;
  background: #F59E0B;
  color: #4c5257;
  border: 1px solid #4c5257;
  border-radius: 6px;
  font-weight: 400;
  line-height: 1.25rem;
  font-family: Roboto,sans-serif;
  height: 60px;
  border-radius: 8px;


}

:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-menuitem-icon {
  color: #4c5257;
  margin-right: 0.5rem;
}
:host ::ng-deep .p-menubar .p-menubar-root-list > .p-menuitem > .p-menuitem-link .p-submenu-icon {
  color: #4c5257;
  margin-left: 0.5rem;

}
:host ::ng-deep .p-menubar .p-menuitem-link .p-menuitem-text {
  font-size: 1.15rem !important;
  font-weight: 800;
}
.nome{
  color: #4c5257;
  margin-left: 0.5rem;
  font-size: 1.15rem !important;
  font-weight: 800;
}
