<div [ngSwitch]="usuarioLogado()">

  <div *ngSwitchCase="false">
    <p-menubar  [model] ="itemsOff">

      <ng-template pTemplate="start">
      </ng-template>
    </p-menubar>
  </div>

  <div *ngSwitchCase="true">

    <p-menubar  [model] ="items">

    <ng-template pTemplate="start">
    </ng-template>

    <ng-template pTemplate="end">
      <span class="nome" style="margin-right: 20px;">{{nomeUsuario}}</span>

      <i  class="pi pi-fw pi-sign-out" style="font-size: 1.5rem" (click)="logout()"></i>
    </ng-template>

  </p-menubar>
  </div>
  </div>


