<p-card>
  <p-toast></p-toast>
  <div id="htmlData">
    <div class="card">
      <p-accordion>
        <p-accordionTab header="Filtros">
          <form [formGroup]="formFilter" style="margin-top:10px">
            <div class="grid p-fluid">
              <div class="col-12 md:col-3">
                <div class="" >
                  <label for="dataInicio">DATA INÍCIO</label>
                  <input type="date" inputId="dataInicio" pInputText placeholder="DATA INÍCIO" formControlName="dataInicio" name="dataInicio" >
                         </div>
              </div>
              <div class="col-12 md:col-3">
                <div class="">
                  <label for="dataFim">DATA FIM</label>
                  <input type="date" inputId="dataFim" pInputText placeholder="DATA FIM"  formControlName="dataFim" name="dataFim" >
                </div>
              </div>
              <div class="col-12 md:col-3">
                <div>
                  <label for="nome">NOME</label>
                   <input type="text" pInputText placeholder="Ex: GET NET"formControlName="nome" name="nome" inputId="nome" >
                </div>
              </div>
              <div class="col-12 md:col-3">
                <div>
                  <label for="bandeira">BANDEIRA</label>
                   <input type="text" pInputText placeholder="Ex: MASTER"formControlName="bandeira" name="bandeira" inputId="bandeira" >
                </div>
              </div>

              <div class="col-12 md:col-3">
                <div class="p-inputgroup" style="margin-top:20px ;">
                    <button label="FILTRAR" type="button" pButton pRipple icon="pi pi-filter" (click)="filtroAvancado()"
                    [disabled]="!formFilter.valid"
                    ></button>
                </div>
              </div>
            </div>
            </form>
        </p-accordionTab>
      </p-accordion>

      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="Nova" icon="pi pi-plus" class="p-button-primary  p-button-sm" pTooltip="CRIAR NOVA OPERADORA"
            (click)="openNew()"></button>
            <p-divider layout="vertical"></p-divider>
            <button pButton pRipple label="INATIVAS" icon="pi pi-unlock" class="p-button-danger  p-button-sm" pTooltip="BUSCAR OPERADORAS INATIVAS"
            (click)="getAllDesativadas()"></button>

          <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteacompanhamento()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
        </ng-template>

        <ng-template pTemplate="right">

          <button pButton pRipple label="Anterior" icon="pi pi-caret-left" class="p-button-text p-button-plain mr-2 mb-2"
          (click)="previousPage()"></button>
          <p-divider layout="vertical"></p-divider>
          <button pButton pRipple label="Início" icon="pi pi-eraser" class="p-button-text p-button-plain mr-2 mb-2"
          (click)="resetPage()"></button>
          <p-divider layout="vertical"></p-divider>
          <button pButton pRipple label="Próxima" icon="pi pi-caret-right" class="p-button-text p-button-plain mr-2 mb-2"
          (click)="nextPage()"></button>
          <p-divider layout="vertical"></p-divider>

          <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcel()"
            class="p-button-rounded p-button-text p-button-lg p-button-info mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
            <p-divider layout="vertical"></p-divider>
          <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
            class="p-button-rounded p-button-text p-button-lg p-button-danger mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
        </ng-template>
      </p-toolbar>


      <p-table #dt [value]="pagina" [rows]="100" [paginator]="true" [rowsPerPageOptions]="[25,50]"
        [globalFilterFields]="['nome','bandeira','inicio', 'fim','nomeBandeira']"
        responsiveLayout="scroll" [(selection)]="selectedOperadora" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} Operadoras" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Pesquisar..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>

            <th pSortableColumn="id">ID<p-sortIcon field="aute"></p-sortIcon>
            </th>
            <th pSortableColumn="nome">NOME<p-sortIcon field="aute"></p-sortIcon>
            </th>
            <th pSortableColumn="nomeEmpresa">BANDEIRA <p-sortIcon field="nomeEmpresa"></p-sortIcon>
            </th>
            <th pSortableColumn="nomeOperadora">STATUS <p-sortIcon field="nomeOperadora"></p-sortIcon>
            </th>
            <th pSortableColumn="data">ANT AUT <p-sortIcon field="data"></p-sortIcon>
            </th>
            <th pSortableColumn="numeroPedido">PRAZO<p-sortIcon field="numeroPedido"></p-sortIcon>
            </th>
            <th pSortableColumn="valorPedido">TX ANT CRÉDITO <p-sortIcon field="valorPedido"></p-sortIcon>
            </th>
            <th pSortableColumn="tipoOperacao">TX PADRÃO CRÉDITO <p-sortIcon field="tipoOperacao"></p-sortIcon>
            </th>
            <th pSortableColumn="valorReceber">TX PADRÃO DÉBITO <p-sortIcon field="valorReceber"></p-sortIcon>
            </th>
            <th pSortableColumn="previsaoRecebimento">INICIO <p-sortIcon field="previsaoRecebimento"></p-sortIcon>
            </th>
            <th pSortableColumn="dataRecebimento">FIM <p-sortIcon field="dataRecebimento"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-operadoraTable>
          <tr>
            <td>{{operadoraTable.id}}</td>
            <td>{{operadoraTable.nome}}</td>
            <td>{{operadoraTable.bandeira}}</td>
            <td>{{operadoraTable.statusViews}}</td>
            <td>{{operadoraTable.antecipacaoAutomaticaViews}}</td>
            <td>{{operadoraTable.diasParaRecebimento}} dia(s)</td>
            <td>{{operadoraTable.taxaAntecipacaoCredito}}%</td>
            <td>{{operadoraTable.taxaPadraoCredito }}%</td>
            <td>{{operadoraTable.taxaPadraoDebito }}%</td>
            <td>{{operadoraTable.inicio | date : 'dd/MM/yyyy'}}</td>
            <td>{{operadoraTable.fim | date : 'dd/MM/yyyy'}} </td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-lg p-button-primary mr-2" pTooltip="EDITAR OPERADORA"
                (click)="edit(operadoraTable)"></button>
                <button pButton pRipple icon="pi pi-clone" class="p-button-rounded p-button-text p-button-lg p-button-success mr-2" pTooltip="CLONAR OPERADORA"
                (click)="clone(operadoraTable)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-text p-button-lg p-button-danger" pTooltip="EXCLUIR OPERADORA"
                (click)="deleteOperadora(operadoraTable)"></button>
            </td>
          </tr>
        </ng-template>
        <!-- <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          Total de {{pagina.totalElements}} conciliações.
        </div>
      </ng-template> -->
      </p-table>
    </div>
  </div>

</p-card>



<p-dialog [(visible)]="operadoraDialog" [style]="{width: '500px'}" header="CADASTRO OPERADORA " [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <form [formGroup]="form">
      <div class="grid p-fluid">

      <div class="col-6 ">
        <label for="float-input">NOME</label>
        <input type="text" pInputText id="nome" formControlName="nome" name="nome" />
      </div>

      <div class="col-6 ">
        <label for="float-input">BANDEIRA</label>
        <input type="text" pInputText id="bandeira" formControlName="bandeira" name="bandeira"/>
      </div>

      <div class="col-12 ">
          <label for="float-input">ANTECIPAÇÃO AUTOMÁTICA</label>
        <p-selectButton [options]="stateOptions" formControlName="antecipacaoAutomatica" id="antecipacaoAutomatica"
          optionLabel="label" optionValue="value" name="antecipacaoAutomatica"></p-selectButton>
        </div>

      <div class="col-6 ">
        <label for="float-input">DIAS PARA RECEBIMENTO</label>
        <input type="text" pInputText  type="text" id="diasParaRecebimento" formControlName="diasParaRecebimento" name="diasParaRecebimento"
       />
      </div>
      <div class="col-6 ">
        <label for="float-input">TX ANT CRÉDITO</label>
        <input type="text" pInputTextinput type="text" pInputText id="taxaAntecipacaoCredito" formControlName="taxaAntecipacaoCredito" name="taxaAntecipacaoCredito"
       />
      </div>
      <div class="col-6 ">
        <label for="float-input">TX PADRÃO CRÉDITO</label>
        <input type="text" pInputText id="taxaPadraoCredito" formControlName="taxaPadraoCredito" name="taxaPadraoCredito"
      />
      </div>
      <div class="col-6 ">
        <label for="float-input">TX PADRÃO DÉBITO</label>
        <input type="text" pInputText id="taxaPadraoDebito" formControlName="taxaPadraoDebito" name="taxaPadraoDebito"
       />
      </div>

      <div class="col-6 ">
        <label for="float-input">DATA ÍNICIO</label>
        <input type="date" pInputText inputId="inicio" formControlName="inicio" id="inicio" name="inicio"
          slotChar="dd/mm/yyyy" dateFormat="dd/mm/yy"/>
      </div>
      <div class="col-6 ">
        <label for="float-input">DATA FIM</label>
        <input type="date" pInputText inputId="fim" formControlName="fim" id="fim" name="fim" placeholder="FIM"
          slotChar="dd/mm/yyyy" dateFormat="dd/mm/yy"/>
      </div>
       </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="!form.valid"
      (click)="manterOperadora()"></button>
  </ng-template>

</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">

  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>


