.positivo{
  // background-color: #8de02c;
   border-radius: 4px;
   font-size: 20px;
   font-weight: 900;
   text-align: center;
   padding: 2px 4px;
   color: #8de02c;

 }
 .negativo{
   border-radius: 4px;
   font-size: 20px;
   font-weight: 900;
   text-align: center;
   padding: 2px 4px;
   color:  #FA8072;
 }
