table{
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}
mat-card-title
{
  color:rgba(0,0,0,.54);;
}
.mat-icon{
  vertical-align: center;
  margin-left: 0.7rem;
}

td img{
  width: 50px;
  height: 35px;
}
