<p-card>
  <p-toast></p-toast>
  <div id="htmlData">
    <div class="card">


      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="NOVO" icon="pi pi-plus" class="p-button-success  p-button-sm" pTooltip="CADASTRAR BANCO"
            (click)="openNew()"></button>

        </ng-template>


      </p-toolbar>


      <p-table #dt [value]="pagina" [rows]="10" [paginator]="true" [rowsPerPageOptions]="[10,25,50,100,200]"
        responsiveLayout="scroll" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} bancos" [showCurrentPageReport]="true">

        <ng-template pTemplate="header">
          <tr>

            <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon></th>
            <th pSortableColumn="nome"> NOME<p-sortIcon field="nome"></p-sortIcon></th>



            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-bancoTable>
          <tr>
            <td>{{bancoTable.id}}</td>
            <td>{{bancoTable.nome}}</td>
           <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-primary p-button-lg " pTooltip="EDITAR"
                (click)="openEdit(bancoTable)"></button>
              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-text p-button-danger p-button-lg" pTooltip="EXCLUIR "
                (click)="delete(bancoTable)"></button>
            </td>
          </tr>
        </ng-template>
        <!-- <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          Total de {{pagina.totalElements}} conciliações.
        </div>
      </ng-template> -->
      </p-table>
    </div>
  </div>

</p-card>



<p-dialog [(visible)]="bancoDialog" [style]="{width: '500px'}" header="Cadastro de Banco " [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <form [formGroup]="form">
      <div class="field col">
        <input type="text" pInputText id="nome" formControlName="nome" name="nome" placeholder="Nome"/>
      </div>

    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="!form.valid"
      (click)="manter()"></button>
  </ng-template>

</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">

  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>




