@import "../../../modulos/home/home.component.scss";
.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: center;
}
button
{
  margin-left: 30px;
  color: rgba(0,0,0,.54);;
}
.mat-icon{
  vertical-align: center;
  margin-left: 0.5rem;

}
