
<div class="grid-container">

  <mat-grid-list cols="2" rowHeight="350px">
    <mat-grid-tile *ngFor="let card of cards | async" [colspan]="card.cols" [rowspan]="card.rows">
      <mat-card class="dashboard-card" >
        <mat-card-header>
          <mat-card-title>
            <button mat-button  aria-label="Example icon button with a plus one icon" (click)="openDialogNovo()">
              Novo Procedimento<mat-icon>add_circle</mat-icon>
            </button>

          </mat-card-title>
        </mat-card-header>
        <mat-card-content class="dashboard-card-content">
         <app-procedimento-list></app-procedimento-list>
        </mat-card-content>
      </mat-card>

    </mat-grid-tile>
  </mat-grid-list>
</div>

