<p-card>
  <p-toast></p-toast>
  <div id="htmlData">
    <div class="card">
      <p-accordion>
        <p-accordionTab header="FILTRO ">
          <form [formGroup]="formFilter" style="margin-top:10px">
          <div class="grid p-fluid">
            <div class="col-12 md:col-3">
              <div class="" >
                <label for="dtInicio">DATA PEDIDO INÍCIO</label>
                <input type="date" inputId="dtInicio" pInputText placeholder="DATA INÍCIO" formControlName="dtInicio" name="dtInicio" >
                       </div>
            </div>
            <div class="col-12 md:col-3">
              <div class="">
                <label for="dtFim">DATA PEDIDO FIM</label>
                <input type="date" inputId="dtFim" pInputText placeholder="DATA FIM"  formControlName="dtFim" name="dtFim" >
              </div>
            </div>
            <div class="col-12 md:col-3">
              <div>
                <label for="fornecedor">Nº PEDIDO</label>
                 <input type="text" pInputText placeholder="Ex: 726699"formControlName="numeroPedido" name="numeroPedido" inputId="numeroPedido" >
              </div>
            </div>
            <div class="col-12 md:col-3">
              <div>
                <label for="fornecedor">Nº AUTENTICAÇÃO</label>
                 <input type="text" pInputText placeholder="Ex: 99222388"formControlName="aute" name="aute" inputId="aute" >
              </div>
            </div>
            <div class="col-12 md:col-3">
              <div>
                <label for="fornecedor">DATA RECEBIMENTO</label>
                 <input type="date" pInputText formControlName="dataRecebimento" name="dataRecebimento" inputId="dataRecebimento" >
              </div>
            </div>
            <div class="col-12 md:col-3">
              <div>
                <label for="fornecedor">PREVISÃO RECEBIMENTO</label>
                 <input type="date" pInputText formControlName="previsaoRecebimento" name="previsaoRecebimento" inputId="previsaoRecebimento" >
              </div>
            </div>

            <div class="col-12 md:col-3">
              <div >
                <label for="fornecedor">EMPRESA</label>
                <p-dropdown inputId="idEmpresaSearch" placeholder="Ex: CN Muzema" [options]="empresas" name="idEmpresa" inputId="idEmpresa"
                formControlName="idEmpresa" optionLabel="nome" optionValue="id" [showClear]="true">
                </p-dropdown>
              </div>
            </div>
            <div class="col-12 md:col-3">
              <div >
                <label for="fornecedor">OPERADORA CARTÃO</label>
                <p-dropdown inputId="idOperadora" placeholder="Ex: PagSeguro, GETNET" [options]="operadoras" name="idOperadora" inputId="idOperadora"
                formControlName="idOperadora" optionLabel="nomeBandeira" optionValue="id" [showClear]="true">
                </p-dropdown>
              </div>
            </div>
            <div class="col-12 md:col-3">
              <div >
                <label for="fornecedor">TIPO DE OPERAÇÃO</label>
                <p-dropdown inputId="tipoOperacao" placeholder="Ex: Crédito ou Débito" [options]="stateOptions" name="tipoOperacao" inputId="tipoOperacao"
                formControlName="tipoOperacao" optionLabel="label" optionValue="value" [showClear]="true">
                </p-dropdown>
              </div>
            </div>
            <div class="col-12 md:col-3">
              <div >
                <label for="fornecedor">STATUS RECEBIMENTO</label>
                <p-dropdown inputId="isRecebido" placeholder="Ex: Recebido ou Não Recebido" [options]="statusRecebimento" name="isRecebido" inputId="isRecebido"
                formControlName="isRecebido" optionLabel="label" optionValue="value" [showClear]="true">
                </p-dropdown>
              </div>
            </div>
            <div class="col-12 md:col-3">
              <div class="p-inputgroup" style="margin-top:20px ;">
                  <button label="FILTRAR" type="button" pButton pRipple icon="pi pi-filter" (click)="filtroAvancado()"
                  [disabled]="!formFilter.valid" class="p-button-success  p-button-raised p-button-text"
                  ></button>
              </div>
            </div>
            <div class="col-12 md:col-3">
              <div class="p-inputgroup" style="margin-top:20px ;">
                  <button label="LIMPAR" type="button" pButton pRipple icon="pi pi-eraser" (click)="resetarFiltro()"
                  class="p-button-warning mb-2  p-button p-button-raised p-button-text"
                  ></button>
              </div>
            </div>
          </div>
          </form>
        </p-accordionTab>
      </p-accordion>

      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="NOVA" icon="pi pi-plus" class="p-button-success  p-button-sm  p-button p-button-raised p-button-text"
            (click)="openNew()"></button>

          <!-- <button pButton pRipple label="Delete" icon="pi pi-trash" class="p-button-danger" (click)="deleteacompanhamento()" [disabled]="!selectedProducts || !selectedProducts.length"></button> -->
        </ng-template>
      </p-toolbar>


      <p-table #dt [value]="pagina" [rows]="100" [paginator]="true" [rowsPerPageOptions]="[10,25,50,100,200]" id="excel-table"
        [globalFilterFields]="['nomeOperadora','nomeEmpresa','data', 'numeroPedido','tipoOperacao','valorPedido','quemCadastrou','quemConferiu', 'aute']"
        responsiveLayout="scroll" [(selection)]="selectedConciliacao" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Visualizando {first} a {last} de {totalRecords} boletas" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Pesquisar..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>

            <th pSortableColumn="aute">AUTE<p-sortIcon field="aute"></p-sortIcon>
            </th>
            <th pSortableColumn="nomeEmpresa">EMPRESA <p-sortIcon field="nomeEmpresa"></p-sortIcon>
            </th>
            <th pSortableColumn="nomeOperadora">OPERADORA <p-sortIcon field="nomeOperadora"></p-sortIcon>
            </th>
            <th pSortableColumn="data">DATA <p-sortIcon field="data"></p-sortIcon>
            </th>
            <th pSortableColumn="numeroPedido">Nº PEDIDO <p-sortIcon field="numeroPedido"></p-sortIcon>
            </th>
            <th pSortableColumn="valorPedido">VALOR <p-sortIcon field="valorPedido"></p-sortIcon>
            </th>
            <th pSortableColumn="tipoOperacao">OPERAÇÃO <p-sortIcon field="tipoOperacao"></p-sortIcon>
            </th>
            <th pSortableColumn="valorReceber">A RECEBER <p-sortIcon field="valorReceber"></p-sortIcon>
            </th>
            <th pSortableColumn="previsaoRecebimento">PREVISÃO <p-sortIcon field="previsaoRecebimento"></p-sortIcon>
            </th>
            <th pSortableColumn="dataRecebimento">RESGATE <p-sortIcon field="dataRecebimento"></p-sortIcon>
            </th>
            <th pSortableColumn="isAntecipa">ANT <p-sortIcon field="isAntecipa"></p-sortIcon>
            </th>
            <th pSortableColumn="isRecebido">R$ REC <p-sortIcon field="isRecebido"></p-sortIcon>
            </th>
            <th pSortableColumn="foiConferido">CONF <p-sortIcon field="foiConferido"></p-sortIcon>
            </th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-conciliacaoTable>
          <tr>

            <td>{{conciliacaoTable.aute}}</td>
            <td>{{conciliacaoTable.nomeEmpresa}}</td>
            <td>{{conciliacaoTable.nomeOperadora}}</td>
            <td  pTooltip={{conciliacaoTable.quemCadastrou}}>{{conciliacaoTable.data | date : 'dd/MM/yyyy' }}</td>
            <td>{{conciliacaoTable.numeroPedido}}</td>
            <td>{{conciliacaoTable.valorPedido | currency }}</td>
            <td>{{conciliacaoTable.tipoOperacao}}</td>
            <td>{{conciliacaoTable.valorReceber | currency }}</td>
            <td>{{conciliacaoTable.previsaoRecebimento | date : 'dd/MM/yyyy'}}</td>
            <td (click)="openDialogDataRecebimento(conciliacaoTable)">
              {{conciliacaoTable.dataRecebimento | date : 'dd/MM/yyyy'}}
               <i *ngIf="conciliacaoTable.dataRecebimento == undefined"   class="pi pi-calendar" style="font-size: 2rem"></i>
            </td>

            <td>{{conciliacaoTable.isAntecipa}}</td>
            <td [ngClass]="{
              'sim':conciliacaoTable.isRecebido === 'SIM',
              'nao':conciliacaoTable.isRecebido !== 'SIM'
              }" >{{conciliacaoTable.isRecebido}}
            </td>
            <td [ngClass]="{
              'sim':conciliacaoTable.foiConferido === 'SIM',
              'nao':conciliacaoTable.foiConferido !== 'SIM'
              }"
               (click)="isConferido(conciliacaoTable)" pTooltip={{conciliacaoTable.quemConferiu}}>
              {{conciliacaoTable.foiConferido}}</td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class=" p-button-raised p-button-text  p-button"
                (click)="editConciliacao(conciliacaoTable)"></button>
              <button pButton pRipple icon="pi pi-trash" class=" p-button-raised p-button-text  p-button-danger"
                (click)="deleteConciliacao(conciliacaoTable)"></button>
            </td>
          </tr>
        </ng-template>
        <!-- <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          Total de {{pagina.totalElements}} conciliações.
        </div>
      </ng-template> -->
      </p-table>
    </div>
  </div>

</p-card>



<p-dialog [(visible)]="conciliacaoDialog" [style]="{width: '650px', heigth:'650px'}" header="CADASTRO CONCILIAÇÃO " [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <form [formGroup]="form">
      <div class="grid p-fluid">
      <div class="col-6">
        <label  for="numeroPedido">EMPRESA</label>
        <p-dropdown formControlName="idEmpresa" inputId="idEmpresa" [options]="empresas" placeholder="Empresa" name="idEmpresa"
          optionValue="id" optionLabel="nome">
        </p-dropdown>
      </div>

      <div class="col-6">
        <label for="numeroPedido">OPERADORA</label>
        <p-dropdown formControlName="idOperadora" inputId="IdOperadora" [options]="operadoras" placeholder="OPERADORA" name="idOperadora" id="idOperadora"
          optionValue="id" optionLabel="nomeBandeira" name="IdOperadora">
        </p-dropdown>
      </div>
      <div class="col-6">
        <label for="numeroPedido">TIPO OPERAÇÃO</label>
        <p-selectButton [options]="stateOptions" formControlName="tipoOperacao" id="tipoOperacao"
          placeholder="TIPO DE OPERAÇÃO" optionLabel="label" optionValue="value" name="tipoOperacao"></p-selectButton>
      </div>
      <div class="col-6">
        <label for="numeroPedido">DATA</label>
        <input type="date" pInputText inputId="data" formControlName="data" id="data" name="data" placeholder="DATA DO PEDIDO"
          slotChar="dd/mm/yyyy" dateFormat="dd/mm/yy"/>
      </div>

      <div class="formgrid grid">
      </div>
      <div class="col-6">
        <label for="numeroPedido">VALOR</label>
        <div class="p-inputgroup">
          <span class="p-inputgroup-addon">R$</span>
          <input pInputText type="text" id="valorPedido" formControlName="valorPedido" name="valorPedido"
            placeholder="VALOR" />
        </div>
      </div>
      <div class=" col-6">
        <label for="numeroPedido">AUTENTICAÇÃO</label>
        <input  pInputText type="text"  id="aute" formControlName="aute" name="aute" placeholder="AUTE" />
      </div>
      <div class=" col-6">
        <label for="numeroPedido">Nº PEDIDO</label>
        <p-inputNumber id="numeroPedido" formControlName="numeroPedido" placeholder="Nº PEDIDO"></p-inputNumber>
      </div>
    </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class=" p-button-raised p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="  p-button-raised p-button-text" [disabled]="!form.valid"
      (click)="manterConciliacao()"></button>
  </ng-template>

</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">

  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>


<p-dialog [(visible)]="display" [style]="{width: '350px', height:'300px'}" [modal]="true" styleClass="p-fluid">
  <ng-template pTemplate="content">
    <form [formGroup]="formDataRecebimento">
      <div class="field col">
        <input type="date" pInputText formControlName="dataRecebimento" placeholder="Selecionar data" slotChar="dd/mm/yyyy"
          dateFormat="dd/mm/yy"/>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="  p-button-raised p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class=" p-button-raised p-button-text"
      [disabled]="!formDataRecebimento.valid" (click)="manterDataRecebimentoConciliacao()"></button>
  </ng-template>

</p-dialog>
