<p-card *ngIf="pagina$ | async as pagina">

  <p-toolbar styleClass="mb-4">
    <ng-template pTemplate="left">
      <button pButton pRipple label="Nova" icon="pi pi-plus" class="p-button-success  p-button-sm" pTooltip="Criar uma nova conta a pagar."
        (click)="openNew()"></button>
    </ng-template>
  </p-toolbar>

  <p-table #dt [value]="pagina" [rows]="100" [paginator]="true" [rowsPerPageOptions]="[25,50]"
    [globalFilterFields]="['nome','bandeira','inicio', 'fim','nomeBandeira']" responsiveLayout="scroll"
    currentPageReportTemplate="Mostrando {first} até {last} de {totalRecords} Operadoras"
    [showCurrentPageReport]="true">
    <ng-template pTemplate="caption">
      <div class="flex align-items-center justify-content-between">
        <span class="p-input-icon-left">
          <i class="pi pi-search"></i>
          <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
            placeholder="Pesquisar..." />
        </span>
      </div>
    </ng-template>
    <ng-template pTemplate="header">
      <tr>

        <th pSortableColumn="id">ID<p-sortIcon field="id"></p-sortIcon> </th>
        <th pSortableColumn="nome">NOME<p-sortIcon field="nome"></p-sortIcon></th>
        <th pSortableColumn="login">LOGIN<p-sortIcon field="login"></p-sortIcon></th>
        <th pSortableColumn="cpf">CPF <p-sortIcon field="cpf"></p-sortIcon></th>
        <th pSortableColumn="cargo">CARGO <p-sortIcon field="cargo"></p-sortIcon></th>
        <th pSortableColumn="telefone">TELEFONE <p-sortIcon field="telefone"></p-sortIcon></th>
        <th pSortableColumn="idade">IDADE<p-sortIcon field="idade"></p-sortIcon></th>
        <th pSortableColumn="valorPedido">IDENTIDADE<p-sortIcon field="valorPedido"></p-sortIcon>
        </th>
        <th></th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-usuarioTable>
      <tr>
        <td>{{usuarioTable.id}}</td>
        <td>{{usuarioTable.nome}}</td>
        <td>{{usuarioTable.login}}</td>
        <td>{{usuarioTable.cpf}}</td>
        <td>{{usuarioTable.cargo}}</td>
        <td>{{usuarioTable.telefone}}</td>
        <td>{{usuarioTable.idade}}</td>
        <td>{{usuarioTable.identidade }}</td>
        <td>
          <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-lg p-button-primary mr-2" pTooltip="EDITAR OPERADORA"
          (click)="edit(usuarioTable)"></button>
          <button pButton pRipple icon="pi pi-clone" class="p-button-rounded p-button-text p-button-lg p-button-success mr-2" pTooltip="CLONAR OPERADORA"
          (click)="alterarSenha(usuarioTable)"></button>
        <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-text p-button-lg p-button-danger" pTooltip="EXCLUIR OPERADORA"
          (click)="delete(usuarioTable)"></button>
        </td>
      </tr>
    </ng-template>

  </p-table>
</p-card>

<p-dialog [(visible)]="usuarioFormDialog" [style]="{width: '700px', height:'600px'}" header="CADASTRO DE USUÁRIOS " [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <form [formGroup]="form">
      <div class="grid p-fluid">


       <div class="col-12 md:col-6">
        <label  for="numeroPedido">NOME</label>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-user"></i></span>
            <input type="text" pInputText  formControlName="nome">
        </div>
      </div>
      <div class="col-12 md:col-6">
        <label  for="numeroPedido">LOGIN</label>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-at"></i></span>
            <input type="text" pInputText placeholder="login@email.com" formControlName="login">
        </div>
      </div>
      <div class="col-12 md:col-6">
        <label  for="numeroPedido">SENHA</label>
            <p-password   formControlName="senha"></p-password>
      </div>
      <div class="col-12 md:col-6">
        <label  for="numeroPedido">CPF</label>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-prime"></i></span>
            <input type="text" pInputText  formControlName="cpf">
        </div>
      </div>
      <div class="col-12 md:col-6">
        <label  for="numeroPedido">TELEFONE</label>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-phone"></i></span>
            <input type="text" pInputText formControlName="telefone">
        </div>
      </div>
      <div class="col-12 md:col-6">
        <label  for="numeroPedido">IDADE</label>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-sync"></i></span>
            <input type="text" pInputText  formControlName="idade">
        </div>
      </div>
      <div class="col-12 md:col-6">
        <label  for="numeroPedido">IDENTIDADE</label>
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-key"></i></span>
            <input type="text" pInputText  formControlName="identidade">
        </div>
      </div>
      <div class="col-6 ">
        <label  for="numeroPedido">CARGO</label>
        <p-dropdown [options]="grupos" formControlName="cargo" id="cargo"
           optionLabel="nome" optionValue="nome" name="cargo"></p-dropdown>
        </div>

    </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="!form.valid"
      (click)="manterUsuario()"></button>
  </ng-template>

</p-dialog>
