
.example-spacer {
  flex: 1 1 auto;
}
.mat-drawer .mat-toolbar .mat-icon{

  font-size: 40px;

}
.mat-drawer span{

  margin-top: 25px;
}
.mat-list-item{

  font-size: 20px;
}
.mat-drawer .mat-list .mat-icon{
  font-size: 35px;
  margin-right: 20px;
  margin-top: 10px;
}
.mat-drawer-container
{
  height: 100%;
}
.mat-list-item
{
  padding: 20px ;
  margin-top: 20px;
}
td .mat-icon{
  font-size: 35px;
  margin-right: 30px;

}
td .red.red .mat-icon
{
  color: brown;
}
table{
  width: 100%;
}

.example-spacer {
  flex: 1 1 auto;
}
.mat-drawer .mat-toolbar .mat-icon{

  font-size: 40px;

}
.mat-drawer span{

  margin-top: 25px;
}
.mat-list-item{

  font-size: 20px;
}
.mat-drawer .mat-list .mat-icon{
  font-size: 35px;
  margin-right: 20px;
  margin-top: 10px;
}
.mat-drawer-container
{
  height: 100%;
}
.mat-list-item
{
  padding: 20px ;
  margin-top: 20px;
}
td .mat-icon{
  font-size: 35px;
  margin-right: 30px;

}
td .red.red .mat-icon
{
  color: brown;
}
table{
  width: 100%;
}
mat-card
{
    max-width: 100%;
    margin: 2em auto;
    text-align: center;
}
