
<p-accordion>
  <p-accordionTab header="FILTRO AVANÇADO">
    <form [formGroup]="formFilterAvancadissimo" style="margin-top:10px">
    <div class="grid p-fluid">
      <div class="col-12 md:col-3">
        <div class="" >
          <label for="dataVencimentoInicial">DATA VENCIMENTO INÍCIO</label>
          <input type="date" inputId="dataVencimentoInicial" pInputText placeholder="DATA INÍCIO"
          (onChange)=" onDisabledDataPagamento($event)"
          [disabled]="disabledDataVencimento"
          formControlName="dataVencimentoInicial" name="dataVencimentoInicial" >
                 </div>
      </div>
      <div class="col-12 md:col-3">
        <div class="">
          <label for="dataVencimentoFinal">DATA VENCIMENTO FIM</label>
          <input type="date" inputId="dataVencimentoFinal" pInputText placeholder="DATA FIM"
          [disabled]="disabledDataVencimento"
          formControlName="dataVencimentoFinal" name="dataVencimentoFinal" >
        </div>
      </div>
      <div class="col-12 md:col-3">
        <div class="" >
          <label for="dataPagamentoInicial">DATA PAGAMENTO INÍCIO</label>
          <input type="date" inputId="dataPagamentoInicial" pInputText placeholder="DATA INÍCIO"
          (onChange)=" onDisabledDataVencimento($event)"
          [disabled]="disabledDataPagamento"
          formControlName="dataPagamentoInicial" name="dataPagamentoInicial" >
                 </div>
      </div>
      <div class="col-12 md:col-3">
        <div class="">
          <label for="dataPagamentoFinal">DATA PAGAMENTO FIM</label>
          <input type="date" inputId="dataPagamentoFinal" pInputText placeholder="DATA FIM"
          [disabled]="disabledDataPagamento"
          formControlName="dataPagamentoFinal" name="dataPagamentoFinal" >
        </div>
      </div>
      <div class="col-12 md:col-3">
        <div class="">
          <label for="fornecedor">FORNECEDOR</label>
          <input type="text" inputId="fornecedor" pInputText placeholder="Ex: FABRIMAR" formControlName="fornecedor" name="fornecedor" >
        </div>
      </div>
      <div class="col-12 md:col-3">
        <label for="empresaId">Empresa</label>
          <p-multiSelect inputId="empresaId" placeholder="Ex: Casa Nobre" [options]="empresas" formControlName="empresaId" name="empresaId"
             optionLabel="nome" optionValue="id" >
          </p-multiSelect>
      </div>
      <div class="col-12 md:col-3">
        <label for="formaPagamento">FORMA DE PAGAMENTO</label>
        <p-multiSelect inputId="formaPagamento" placeholder="Ex: Boleto, Espécie..." [options]="formasPgtoOptions"
         formControlName="formaPagamento" name="formaPagamento"
           optionLabel="label" optionValue="value">
        </p-multiSelect>
    </div>
    <div class="col-12 md:col-3">
      <label for="tipoDespesa">TIPO DESPESA</label>
      <p-dropdown inputId="tipoDespesa" placeholder="Ex: Fixa ou Variável" [options]="tipoDespesasOptions" formControlName="tipoDespesa" name="tipoDespesa"
         optionLabel="label" optionValue="value" [showClear]="true">
      </p-dropdown>
  </div>
  <div class="col-12 md:col-3">
    <label for="situacao">SITUAÇÃO</label>
    <p-dropdown inputId="situacao" placeholder="Ex: Pago ou Pendente" [options]="situacaoOptions" formControlName="situacao" name="situacao"
       optionLabel="label" optionValue="value" [showClear]="true">
    </p-dropdown>
</div>
<div class="col-12 md:col-3">
  <div class="">
    <label for="nd">Nº DOC</label>
    <input type="text" inputId="nd" pInputText placeholder="Ex: 99222388"  formControlName="nd" name="nd">
  </div>
</div>
<div class="col-12 md:col-3">
  <div class="">
    <label for="classificacaoDespesa">CLASSIFICAÇÃO </label>
    <p-multiSelect  [options]="classificacaoDespesa" inputId="classificacaoDespesa"  placeholder="CLASSIFICAÇÃO"
    optionLabel="descricao" optionValue="descricao"
    (onChange)="carregarSubClassificacao($event)"
    formControlName="classificacaoDespesa" name="classificacaoDespesa">
     </p-multiSelect>
    </div>
</div>
<div class="col-12 md:col-3">
  <div class="">
    <label for="subClassificacaoDespesa"> SUBCLASSIFICAÇÃO </label>
    <p-multiSelect [options]="subclassificacaoDespesa" inputId="subClassificacaoDespesa"  placeholder="SUBCLASSIFICAÇÃO"
    optionLabel="descricao" optionValue="descricao"
    formControlName="subClassificacaoDespesa" name="subClassificacaoDespesa">
      </p-multiSelect>
  </div>
</div>
<div class="col-12 md:col-3">
  <div class="p-inputgroup" style="margin-top:20px ;">
      <button label="LIMPAR" type="button" pButton pRipple icon="pi pi-eraser" (click)="resetarFiltro()" class="p-button-secondary mb-2"
      ></button>
  </div>
</div>
<div class="col-12 md:col-3">
  <div class="p-inputgroup" style="margin-top:20px ;">
      <button label="FILTRAR" type="button" pButton pRipple icon="pi pi-filter" (click)="filtroAvancadissimo()"
      [disabled]="!formFilterAvancadissimo.valid"
      ></button>
  </div>
</div>
<div class="col-12 md:col-3">
  <div class="p-inputgroup" style="margin-top:20px ;">
      <button label="GERAR MOV CONTÁBIL" type="button" pButton pRipple icon="pi pi-file-excel" class="p-button-raised p-button-warning p-button-text" (click)="downloadXls()"
      [disabled]="!formFilterAvancadissimo.valid"
      ></button>
  </div>
</div>
    </div>
    </form>

  </p-accordionTab>
</p-accordion>

