<p-card *ngIf="pagina != undefined">
  <p-toast></p-toast>
  <div id="htmlData">
    <div class="card">
       <app-filtro-avancado></app-filtro-avancado>

      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <div class="grid">
            <div class=" col">
          <button  pButton pRipple label="NOVA" icon="pi pi-plus"
           class="p-button-raised p-button-text min-w-max" pTooltip="Criar uma nova conta a pagar."
            (click)="openNew()"></button>
          </div>
          <p-divider layout="vertical" ></p-divider>
            <div class=" col">
            <button  pButton pRipple label="DELETE EM LOTE" icon="pi pi-trash"
            class="  p-button-raised p-button-warning p-button-text min-w-max " pTooltip="Deletar todas com mesmo número de documento."
            (click)="abrirDeleteEmLote()"></button>
          </div>
          <p-divider layout="vertical"></p-divider>
            <div class=" col">
            <button  pButton pRipple label="EXCLUIR PENDENTE" icon="pi pi-trash"
             class="  p-button-raised p-button-warning p-button-text min-w-max " pTooltip="Deletar todas que ainda não foram pagas."
            (click)="abrirDeleteSituacaoPendente()"></button>
          </div>
        </div>
        </ng-template>


        <ng-template pTemplate="right">
          <span class="pago-total p-button-raised">PAGO : {{pagina.totalPago  | currency}}</span>
          <p-divider layout="vertical"></p-divider>
          <span class="pendente-total p-button-raised">PENDENTE : {{pagina.totalPendente  | currency}}</span>

          <!-- <p-divider layout="vertical"></p-divider>

          <p-image src="assets/icons/xlsx.png" alt="Image" width="50px" pTooltip="Extrair tabela XLS" tooltipPosition="bottom" (click)="exportexcel()"></p-image>

          <p-divider layout="vertical"></p-divider>
          <p-divider layout="vertical"></p-divider>
          <p-image src="assets/icons/pdf.png" alt="Image" width="50px" pTooltip="Extrair tabela PDF" tooltipPosition="bottom" (click)="exportPdf()"></p-image> -->
        </ng-template>
      </p-toolbar>


      <p-table #dt [value]="pagina.content" [rows]="100" [paginator]="true" [rowsPerPageOptions]="[10,25,50,100,200]" id="excel-table"
        [globalFilterFields]="['tipoDespesa','nd','fornecedor', 'nomeEmpresa','tipoDespesa','situacao','formaPagamento', 'dataVencimento','dataPagamento','classificacaoDespesa','subClassificacaoDespesa']"
        [tableStyle]="{'min-width': '50rem'}" [(selection)]="selectedContasPagar" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Visualizando {first} a {last} de {totalRecords} contas" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
          <div class="flex flex-column md:flex-row md:justify-content-between md:align-items-center">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Pesquisar..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header" >
          <tr>
            <th pSortableColumn="nomeEmpresa">EMPRESA<p-sortIcon field="nomeEmpresa"></p-sortIcon></th>
            <th pSortableColumn="dataVencimento">VENCIMENTO <p-sortIcon field="dataVencimento"></p-sortIcon></th>
            <th pSortableColumn="valorDuplicata">DUPLICATA <p-sortIcon field="valorDuplicata"></p-sortIcon></th>
            <th pSortableColumn="fornecedor">FORNECEDOR <p-sortIcon field="fornecedor"></p-sortIcon></th>
            <th pSortableColumn="formaPagamento">FORMA PGTO<p-sortIcon field="formaPagamento"></p-sortIcon></th>
            <th pSortableColumn="dataPagamento">DATA PGTO <p-sortIcon field="dataPagamento"></p-sortIcon></th>
            <th pSortableColumn="valorPago">VALOR PGTO <p-sortIcon field="valorPago"></p-sortIcon></th>
            <th pSortableColumn="situacao">SITUAÇÃO <p-sortIcon field="situacao"></p-sortIcon></th>
            <th pSortableColumn="nd">ND <p-sortIcon field="nd"></p-sortIcon></th>
            <th pSortableColumn="tipoDespesa">TIPO DESPESA <p-sortIcon field="tipoDespesa"></p-sortIcon></th>
            <th pSortableColumn="parcela">PARCELA <p-sortIcon field="parcela"></p-sortIcon></th>

            <th></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-contasPagarTable >
          <tr>
            <td>{{contasPagarTable.nomeEmpresa}}</td>
            <td  (click)="editarDataVencimento(contasPagarTable)">{{contasPagarTable.dataVencimento | date : 'dd/MM/yyyy'}}</td>
            <td (click)="editarValorDuplicata(contasPagarTable)">{{contasPagarTable.valorDuplicata  | currency}}</td>
            <td>{{contasPagarTable.fornecedor}}</td>
            <td [ngClass]="{
              'pedirboleto':contasPagarTable.formaPagamento== 'PEDIR_BOLETO'}">{{contasPagarTable.formaPagamento}}</td>
            <td>
              <div class="col-12" style="color:blue" *ngIf="contasPagarTable.dataPagamento">
                <div class="p-inputgroup">
                   <div  (click)="editarDataPagamento(contasPagarTable)" >
                     {{contasPagarTable.dataPagamento | date : 'dd/MM/yyyy'}}
                   </div>
                </div>
            </div>
            <button *ngIf="!contasPagarTable.dataPagamento" pButton pRipple icon="pi pi-calendar-plus" class="p-button-rounded p-button-text p-button-lg p-button-primary"
            (click)="editarDataPagamento(contasPagarTable)"></button>

            </td>
            <td>{{contasPagarTable.valorPago  | currency }}</td>
            <td [ngClass]="{
              'pago':contasPagarTable.situacao === 'PAGO',
              'pendente':contasPagarTable.situacao === 'PENDENTE'}">
              {{contasPagarTable.situacao }}
            </td>
            <td>{{contasPagarTable.nd }} </td>
            <td>{{contasPagarTable.tipoDespesa }} </td>
            <td>{{contasPagarTable.parcela }} </td>

             <td>
               <button  pButton pRipple (click)="detalhamentoSidebar(contasPagarTable)" icon="pi pi-ellipsis-h"  pTooltip="OBSERVAÇÃO, JUROS/MULTA E DESCONTO"
               class=" p-button-raised p-button-text p-button-lg p-button-primary mr-2" ></button>
              </td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class=" p-button-raised p-button-text p-button-lg p-button-primary mr-2" pTooltip="EDITAR OPERADORA"
                (click)="edit(contasPagarTable)"></button>

              <button pButton pRipple icon="pi pi-trash" class=" p-button-raised p-button-text p-button-lg p-button-danger" pTooltip="EXCLUIR OPERADORA"
                (click)="delete(contasPagarTable)"></button>
            </td>
          </tr>
        </ng-template>
        <!-- <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          Total de {{pagina.totalElements}} conciliações.
        </div>
      </ng-template> -->
      </p-table>
    </div>
  </div>

</p-card>



<p-dialog [(visible)]="ContasPagarInputDialog" [style]="{width: '700px'}" header="CADASTRO DE CONTAS " [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <form [formGroup]="form">
      <div class="grid p-fluid">

      <div class="col-12 ">
        <p-dropdown formControlName="empresa_id" inputId="empresa_id" [options]="empresas" placeholder="Empresa"
            optionValue="id" optionLabel="nome">
          </p-dropdown>
       </div>
       <div class="col-6 ">
        <p-dropdown [options]="formasPgtoOptions" formControlName="formaPagamento" id="formaPagamento"
           placeholder="FORMA PGTO" optionLabel="label" optionValue="value" name="formaPagamento"></p-dropdown>
        </div>
        <div class="col-6 ">
          <p-dropdown [options]="tipoDespesasOptions" formControlName="tipoDespesa" id="tipoDespesa"
             placeholder="TIPO DESPESA" optionLabel="label" optionValue="value" name="tipoDespesa"></p-dropdown>
          </div>
          <div class="col-6 ">
            <p-dropdown [options]="classificacaoDespesa" formControlName="classificacaoDespesa"inputId="classificacaoDespesa" (onChange)="mostraClassificacao($event)"
               placeholder="CLASSIFICAÇÃO" optionLabel="descricao" optionValue="descricao" name="classificacaoDespesa"></p-dropdown>
          </div>
          <div class="col-6 ">
            <p-dropdown [options]="subclassificacaoDespesa" formControlName="subClassificacaoDespesa"inputId="subClassificacaoDespesa"
               placeholder="SUBCLASSIFICAÇÃO" optionLabel="descricao" optionValue="descricao" name="subClassificacaoDespesa"></p-dropdown>
          </div>
       <div class="col-12 md:col-6">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
            <input type="date" pInputText placeholder="VENCIMENTO" formControlName="dataVencimento">
        </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="p-inputgroup">
          <span class="p-inputgroup-addon">R$</span>
          <input type="text" pInputText placeholder="VALOR DUPLICATA" formControlName="valorDuplicata" name="valorDuplicata">
      </div>
    </div>

   <div class="col-12 md:col-6">
      <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-id-card"></i></span>
          <input type="text" pInputText placeholder="FORNECEDOR" formControlName="fornecedor" name="fornecedor">
      </div>
    </div>

    <div class="col-12 md:col-6">
      <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-chart-line"></i></span>
          <input type="text" pInputText placeholder="NÚMERO DE PARCELAS" formControlName="numeroParcelas" name="numeroParcelas">
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-file-pdf"></i></span>
          <input type="text" pInputText placeholder="NÚMERO DOC" formControlName="nd" name="nd">
      </div>
    </div>


    <div class="col-12 md:col-6">
      <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-comment"></i></span>
          <input type="text" pInputText placeholder="OBSERVAÇÃO" formControlName="observacao" name="observacao">
      </div>
    </div>


      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text p-button-raised" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text p-button-raised" [disabled]="!form.valid"
      (click)="manterContaPagar()"></button>
  </ng-template>

</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>


<p-dialog header="" [(visible)]="editarDtPgtoDialog">
  <ng-template pTemplate="content">
  <form  [formGroup]="editarDataPgtoform">
    <div class="col-12 md:col-12">
      <div class="p-inputgroup">
          <span pButton class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
          <input type="date" pInputText placeholder="VENCIMENTO" formControlName="dataPagamento" name="dataPagamento" >
          <button type="button" pButton pRipple icon="pi pi-refresh" styleClass="p-button-warn p-button-raised"  [disabled]="!editarDataPgtoform.valid"
          (click)="manterDataPagamento()"></button>
      </div>
  </div>

  </form>
  </ng-template>
 </p-dialog>
 <p-dialog header="" [(visible)]="editarDtVencDialog">
  <ng-template pTemplate="content">
  <form  [formGroup]="editarDataVencform">
    <div class="col-12 md:col-12">
      <div class="p-inputgroup">
          <span pButton class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
          <input type="date" pInputText placeholder="VENCIMENTO" formControlName="dataVencimento" name="dataVencimento" >
          <button type="button" pButton pRipple icon="pi pi-refresh" styleClass="p-button-warn p-button-raised"  [disabled]="!editarDataVencform.valid"
          (click)="manterDataVencimento()"></button>
      </div>
  </div>

  </form>
  </ng-template>
 </p-dialog>
<p-dialog header="" [(visible)]="editarLocalPgtoDialog" header="DIGITE O LOCAL">
  <ng-template pTemplate="content">
  <form  [formGroup]="editarLocalPgtoform">
    <div class="col-12 md:col-12">
      <div class="p-inputgroup">
          <span pButton class="p-inputgroup-addon"><i class="pi pi-map"></i></span>
          <input type="text" pInputText placeholder="LOCAL PAGAMENTO" formControlName="localPagamento" name="localPagamento" >
          <button type="button" pButton pRipple icon="pi pi-save" styleClass="p-button-warn p-button-raised p-button-text"  [disabled]="!editarLocalPgtoform.valid"
          (click)="manterLocalPgto()"></button>
      </div>
  </div>

  </form>
  </ng-template>
</p-dialog>
<p-dialog header="" [(visible)]="editarDescontoDialog" header="DIGITE O VALOR">
  <ng-template pTemplate="content">
  <form  [formGroup]="editarDescontoform">
    <div class="col-12 md:col-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">R$</span>
          <input type="text" pInputText placeholder="DESCONTO" formControlName="desconto" name="desconto" >
          <button type="button" pButton pRipple icon="pi pi-save" styleClass="p-button-warn p-button-raised p-button-text"  [disabled]="!editarDescontoform.valid"
          (click)="manterDesconto()"></button>
      </div>
  </div>

  </form>
  </ng-template>
</p-dialog>

<p-dialog header="" [(visible)]="editarValorDuplicataDialog" header="DIGITE O NOVO VALOR ">
  <ng-template pTemplate="content">
  <form  [formGroup]="editarValorDuplicataform">
    <div class="col-12 md:col-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">R$</span>
          <input type="text" pInputText placeholder="VALOR DUPLICATA" formControlName="valorDuplicata" name="valorDuplicata" >
          <button type="button" pButton pRipple icon="pi pi-save" styleClass="p-button-warn p-button-raised p-button-text"  [disabled]="!editarValorDuplicataform.valid"
          (click)="manterValorDuplicata()"></button>
      </div>
  </div>

  </form>
  </ng-template>
</p-dialog>

<p-dialog header="" [(visible)]="editarJurosMultaDialog"  header="DIGITE O VALOR">
  <ng-template pTemplate="content">
  <form  [formGroup]="editarJurosMultatoform">
    <div class="col-12 md:col-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">R$</span>
          <input type="text" pInputText placeholder="JUROS/MULTA" formControlName="jurosMulta" name="jurosMulta" >
          <button type="button" pButton pRipple icon="pi pi-save" styleClass="p-button-warn p-button-raised p-button-text"  [disabled]="!editarJurosMultatoform.valid"
          (click)="manterJurosMulta()"></button>
      </div>
  </div>

  </form>
  </ng-template>
</p-dialog>

<p-sidebar [(visible)]="displaySideBar" [style]="{height:'18em'}"  position="bottom" >

  <ng-template pTemplate="content">

      <p-table [value]="detalheContas">
        <ng-template pTemplate="header">
        <tr>
          <th class="text-center-custom">OBSERVAÇÃO</th>
          <th class="text-center-custom">JUROS/MULTA</th>
          <th class="text-center-custom">DESCONTO</th>
          <th class="text-center-custom" >LOC PGTO</th>
          <th class="text-center-custom" >CLASSIFICAÇÃO</th>
          <th class="text-center-custom" >BOLETO</th>
          <th class="text-center-custom" >COMPROVANTE</th>
        </tr>
        </ng-template>
        <ng-template pTemplate="body" let-c>
          <tr>
          <td>{{c.observacao}}</td>
           <td  style="color:blue" (click)="editarJurosMulta(c)">{{c.jurosMulta  | currency }}</td>
           <td  style="color:blue" (click)="editarDesconto(c)">{{c.desconto  | currency }}</td>
           <td  style="color:blue" (click)="editarLocalPagamento(c)">
            <div *ngIf="c.localPagamento"> {{c.localPagamento }}</div>
            <button *ngIf="!c.localPagamento" pButton pRipple icon="pi pi-map" class="p-button-rounded p-button-text p-button-lg p-button-primary p-button-raised"
          (click)="editarLocalPagamento(c)"></button>
           </td>
           <td>{{c.classificacaoDespesa }} / {{c.subClassificacaoDespesa }}</td>

           <!--arquivo boleto-->
           <td class="text-center-custom">
            <span class="p-buttonset">
              <button  *ngIf="c.pathBoleto != ''"
              pTooltip="DOWNLOAD BOLETO" pButton pRipple  icon="pi pi-download"
              class=" pdf  p-button-lg p-button-success p-button-raised  p-button-text "
              (click)="downloadBoleto(c.id)"
              ></button>
              <button
              pTooltip="UPLOAD BOLETO"  (click)="updateBoleto(c)"
              class=" p-button-text p-button-lg p-button-help p-button-raised"
              pButton pRipple  icon="pi pi-upload"></button>
              <button  *ngIf="c.pathBoleto != ''"
              pTooltip="EXCLUIR BOLETO"
              class=" p-button-text p-button-lg p-button-help p-button-raised"
              pButton pRipple   icon="pi pi-file-excel"
              class=" pdf  p-button-text p-button-lg p-button-danger p-button-raised"
              (click)="deleteBoleto(c.id)"
              ></button>
          </span>
          </td>

           <!--fim arquivo-->
            <!--arquivo comprovante-->
            <td class="text-center-custom">
              <span class="p-buttonset">
                <button  *ngIf="c.pathComprovante != ''"
                pTooltip="DOWNLOAD COMPROVANTE" pButton pRipple  icon="pi pi-download"
                class=" pdf  p-button-lg p-button-success p-button-raised  p-button-text "
                (click)="downloadComprovante(c.id)"
                ></button>
                <button
                pTooltip="UPLOAD COMPROVANTE"  (click)="updateComprovante(c)"
                class=" p-button-text p-button-lg p-button-help p-button-raised"
                pButton pRipple  icon="pi pi-upload"></button>
                <button  *ngIf="c.pathComprovante != ''"
                pTooltip="EXCLUIR COMPROVANTE"
                class=" p-button-text p-button-lg p-button-help p-button-raised"
                pButton pRipple   icon="pi pi-file-excel"
                class=" pdf  p-button-text p-button-lg p-button-danger p-button-raised"
                (click)="deleteComprovante(c.id)"
                ></button>
            </span>

            </td>

             <!--fim arquivo-->

        </tr>
      </ng-template>
      </p-table>
      <ng-template pTemplate="footer">

      </ng-template>


  </ng-template>
</p-sidebar>

<p-dialog header="" [(visible)]="formDeleteLOteDialog" header="DIGITE O Nº DO DOCUMENTO">
  <ng-template pTemplate="content">
  <form  [formGroup]="formDeteleLote">
    <div class="col-12 md:col-12">
      <div class="p-inputgroup">
          <input type="text" pInputText placeholder="Nº Documento" formControlName="numeroDocumento" name="numeroDocumento" >
          <button type="button" pButton pRipple icon="pi pi-trash" class="p-button-danger p-button-raised p-button-text"  [disabled]="!formDeteleLote.valid"
          (click)="deleteEmLote()"></button>
      </div>
  </div>

  </form>
  </ng-template>
</p-dialog>

<p-dialog header="" [(visible)]="formDeleteSituacaoPendenteDialog" header="DIGITE O Nº DO DOCUMENTO">
  <ng-template pTemplate="content">
  <form  [formGroup]="formDeleteSituacaoPendente">
    <div class="col-12 md:col-12">
      <div class="p-inputgroup">
          <input type="text" pInputText placeholder="Nº Documento" formControlName="numeroDocumento" name="numeroDocumento" >
          <button type="button" pButton pRipple icon="pi pi-trash" class="p-button-danger p-button-raised p-button-text"  [disabled]="!formDeleteSituacaoPendente.valid"
          (click)="deleteSituacaoPendente()"></button>
      </div>
  </div>

  </form>
  </ng-template>
</p-dialog>

<div class="my-container">
  <ng-template #customLoadingTemplate>
    <div class="custom-class">
      <h3>Loading...</h3>
    </div>
  </ng-template>

  <ngx-loading
    [show]="loading"
    [config]="{ backdropBorderRadius: '3px' }"
    [template]="customLoadingTemplate"
  ></ngx-loading>
  </div>

  <p-dialog [(visible)]="dialogBoleto" [style]="{width: '450px', heigth:'650px'}" header="Selecione novo arquivo. " [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <form [formGroup]="form">
      <div class="grid p-fluid">

      <div class="form-group">
        <input (change)="onFileSelected($event)" accept="application/pdf" pInputText type="file" formControlName="file"
          id="file" class="form-control-file p-button-success  p-button-sm" name="file"
          [ngClass]="aplicaCssErro('file')">
      </div>
      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="!form.valid"
      (click)="manterBoleto()"></button>
  </ng-template>
</p-dialog>

<p-dialog [(visible)]="dialogComprovante" [style]="{width: '450px', heigth:'650px'}" header="Selecione novo arquivo. " [modal]="true"
styleClass="p-fluid">
<ng-template pTemplate="content">
  <form [formGroup]="form">
    <div class="grid p-fluid">

    <div class="form-group">
      <input (change)="onFileSelected($event)" accept="application/pdf" pInputText type="file" formControlName="file"
        id="file" class="form-control-file p-button-success  p-button-sm" name="file"
        [ngClass]="aplicaCssErro('file')">
    </div>
    </div>
  </form>
</ng-template>
<ng-template pTemplate="footer">
  <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
  <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="!form.valid"
    (click)="manterComprovante()"></button>
</ng-template>
</p-dialog>

