<p-card *ngIf="pagina$ | async as pagina" >
  <p-toast></p-toast>
  <div id="htmlData">
    <div class="card">

       <app-filtro-avancado></app-filtro-avancado>

      <p-toolbar styleClass="mb-4">
        <ng-template pTemplate="left">
          <button pButton pRipple label="Nova" icon="pi pi-plus" class="p-button-success  p-button-sm" pTooltip="Criar uma nova conta a pagar."
            (click)="openNew()"></button>
            <p-divider layout="vertical"></p-divider>
            <button pButton pRipple label="Delete em Lote" icon="pi pi-trash" class="p-button-danger  p-button-sm" pTooltip="Deletar todas com mesmo número de documento."
            (click)="abrirDeleteEmLote()"></button>
        </ng-template>

        <ng-template pTemplate="right">
          <button type="button" pButton pRipple icon="pi pi-file-excel" (click)="exportExcelContas()"
            class="p-button-rounded p-button-text p-button-lg p-button-info mr-2" pTooltip="XLS" tooltipPosition="bottom"></button>
            <p-divider layout="vertical"></p-divider>
            <button type="button" pButton pRipple icon="pi pi-file-pdf" (click)="exportPdf()"
            class="p-button-rounded p-button-text p-button-lg p-button-danger mr-2" pTooltip="PDF" tooltipPosition="bottom"></button>
        </ng-template>
      </p-toolbar>


      <p-table #dt [value]="pagina.content" [rows]="100" [paginator]="true" [rowsPerPageOptions]="[10,25,50,100,200]"
        [globalFilterFields]="['tipoDespesa','nd','fornecedor', 'nomeEmpresa','tipoDespesa','situacao', 'dataVencimento','dataPagamento','classificacaoDespesa','subClassificacaoDespesa']"
        responsiveLayout="scroll" [(selection)]="selectedContasPagar" [rowHover]="true" dataKey="id"
        currentPageReportTemplate="Visualizando {first} a {last} de {totalRecords} contas" [showCurrentPageReport]="true">
        <ng-template pTemplate="caption">
          <div class="flex align-items-center justify-content-between">
            <span class="p-input-icon-left">
              <i class="pi pi-search"></i>
              <input pInputText type="text" (input)="dt.filterGlobal($any($event.target).value, 'contains')"
                placeholder="Pesquisar..." />
            </span>
          </div>
        </ng-template>
        <ng-template pTemplate="header">
          <tr>
            <th pSortableColumn="nomeEmpresa">EMPRESA<p-sortIcon field="aute"></p-sortIcon></th>
            <th pSortableColumn="dataVencimento">VENCIMENTO <p-sortIcon field="nomeEmpresa"></p-sortIcon></th>
            <th pSortableColumn="valorDuplicata">DUPLICATA <p-sortIcon field="nomeOperadora"></p-sortIcon></th>
            <th pSortableColumn="fornecedor">FORNECEDOR <p-sortIcon field="data"></p-sortIcon></th>
            <th pSortableColumn="formaPagamento">FORMA PGTO<p-sortIcon field="numeroPedido"></p-sortIcon></th>
            <th pSortableColumn="dataPagamento">DATA PGTO <p-sortIcon field="valorPedido"></p-sortIcon></th>
            <th pSortableColumn="valorPago">VALOR PGTO <p-sortIcon field="previsaoRecebimento"></p-sortIcon></th>
            <th pSortableColumn="situacao">SITUAÇÃO <p-sortIcon field="dataRecebimento"></p-sortIcon></th>
            <th pSortableColumn="nd">ND <p-sortIcon field="dataRecebimento"></p-sortIcon></th>
            <th pSortableColumn="tipoDespesa">TIPO DESPESA <p-sortIcon field="tipoDespesa"></p-sortIcon></th>
            <th pSortableColumn="parcela">PARCELA <p-sortIcon field="dataRecebimento"></p-sortIcon></th>

            <th></th>
            <th></th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-contasPagarTable>
          <tr>
            <td>{{contasPagarTable.nomeEmpresa}}</td>
            <td>{{contasPagarTable.dataVencimento | date : 'dd/MM/yyyy'}}</td>
            <td>{{contasPagarTable.valorDuplicata  | currency}}</td>
            <td>{{contasPagarTable.fornecedor}}</td>
            <td>{{contasPagarTable.formaPagamento}}</td>
            <td>
              <div class="col-12" style="color:blue" *ngIf="contasPagarTable.dataPagamento">
                <div class="p-inputgroup">
                   <div  (click)="editarDataPagamento(contasPagarTable)" >
                     {{contasPagarTable.dataPagamento | date : 'dd/MM/yyyy'}}
                   </div>
                </div>
            </div>
            <button *ngIf="!contasPagarTable.dataPagamento" pButton pRipple icon="pi pi-calendar-plus" class="p-button-rounded p-button-text p-button-lg p-button-primary"
            (click)="editarDataPagamento(contasPagarTable)"></button>

            </td>
            <td>{{contasPagarTable.valorPago  | currency }}</td>
            <td [ngClass]="{
              'pago':contasPagarTable.situacao === 'PAGO',
              'pendente':contasPagarTable.situacao === 'PENDENTE'}">
              {{contasPagarTable.situacao }}
            </td>
            <td>{{contasPagarTable.nd }} </td>
            <td>{{contasPagarTable.tipoDespesa }} </td>
            <td>{{contasPagarTable.parcela }} </td>

             <td>
               <button  pButton pRipple (click)="detalhamentoSidebar(contasPagarTable)" icon="pi pi-ellipsis-h"  pTooltip="OBSERVAÇÃO, JUROS/MULTA E DESCONTO"
               class="p-button-rounded p-button-text p-button-lg p-button-primary mr-2" ></button>
             </td>
            <td>
              <button pButton pRipple icon="pi pi-pencil" class="p-button-rounded p-button-text p-button-lg p-button-primary mr-2" pTooltip="EDITAR OPERADORA"
                (click)="edit(contasPagarTable)"></button>

              <button pButton pRipple icon="pi pi-trash" class="p-button-rounded p-button-text p-button-lg p-button-danger" pTooltip="EXCLUIR OPERADORA"
                (click)="delete(contasPagarTable)"></button>
            </td>
          </tr>
        </ng-template>
        <!-- <ng-template pTemplate="summary">
        <div class="flex align-items-center justify-content-between">
          Total de {{pagina.totalElements}} conciliações.
        </div>
      </ng-template> -->
      </p-table>
    </div>
  </div>

</p-card>



<p-dialog [(visible)]="ContasPagarInputDialog" [style]="{width: '700px'}" header="CADASTRO DE CONTAS " [modal]="true"
  styleClass="p-fluid">
  <ng-template pTemplate="content">
    <form [formGroup]="form">
      <div class="grid p-fluid">

      <div class="col-12 ">
        <p-dropdown formControlName="empresa_id" inputId="empresa_id" [options]="empresas" placeholder="Empresa"
            optionValue="id" optionLabel="nome">
          </p-dropdown>
       </div>
       <div class="col-6 ">
        <p-dropdown [options]="formasPgtoOptions" formControlName="formaPagamento" id="formaPagamento"
           placeholder="FORMA PGTO" optionLabel="label" optionValue="value" name="formaPagamento"></p-dropdown>
        </div>
        <div class="col-6 ">
          <p-dropdown [options]="tipoDespesasOptions" formControlName="tipoDespesa" id="tipoDespesa"
             placeholder="TIPO DESPESA" optionLabel="label" optionValue="value" name="tipoDespesa"></p-dropdown>
          </div>
          <div class="col-6 ">
            <p-dropdown [options]="classificacaoDespesa" formControlName="classificacaoDespesa"inputId="classificacaoDespesa" (onChange)="mostraClassificacao($event)"
               placeholder="CLASSIFICAÇÃO" optionLabel="descricao" optionValue="descricao" name="classificacaoDespesa"></p-dropdown>
          </div>
          <div class="col-6 ">
            <p-dropdown [options]="subclassificacaoDespesa" formControlName="subClassificacaoDespesa"inputId="subClassificacaoDespesa"
               placeholder="SUBCLASSIFICAÇÃO" optionLabel="descricao" optionValue="descricao" name="subClassificacaoDespesa"></p-dropdown>
          </div>
       <div class="col-12 md:col-6">
        <div class="p-inputgroup">
            <span class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
            <input type="date" pInputText placeholder="VENCIMENTO" formControlName="dataVencimento">
        </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="p-inputgroup">
          <span class="p-inputgroup-addon">R$</span>
          <input type="text" pInputText placeholder="VALOR DUPLICATA" formControlName="valorDuplicata" name="valorDuplicata">
      </div>
    </div>

   <div class="col-12 md:col-6">
      <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-id-card"></i></span>
          <input type="text" pInputText placeholder="FORNECEDOR" formControlName="fornecedor" name="fornecedor">
      </div>
    </div>

    <div class="col-12 md:col-6">
      <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-chart-line"></i></span>
          <input type="text" pInputText placeholder="NÚMERO DE PARCELAS" formControlName="numeroParcelas" name="numeroParcelas">
      </div>
    </div>
    <div class="col-12 md:col-6">
      <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-file-pdf"></i></span>
          <input type="text" pInputText placeholder="NÚMERO DOC" formControlName="nd" name="nd">
      </div>
    </div>


    <div class="col-12 md:col-6">
      <div class="p-inputgroup">
          <span class="p-inputgroup-addon"><i class="pi pi-comment"></i></span>
          <input type="text" pInputText placeholder="OBSERVAÇÃO" formControlName="observacao" name="observacao">
      </div>
    </div>


      </div>
    </form>
  </ng-template>
  <ng-template pTemplate="footer">
    <button pButton pRipple label="Cancel" icon="pi pi-times" class="p-button-text" (click)="hideDialog()"></button>
    <button pButton pRipple label="Save" icon="pi pi-check" class="p-button-text" [disabled]="!form.valid"
      (click)="manterContaPagar()"></button>
  </ng-template>

</p-dialog>

<p-confirmDialog [style]="{width: '450px'}"></p-confirmDialog>
<ngx-spinner bdColor="rgba(51,51,51,0.8)" size="medium" color="#fff" type="ball-scale-multiple">

  <p style="font-size: 20px; color: white">Carregando...</p>
</ngx-spinner>

<p-dialog header="" [(visible)]="editarDtPgtoDialog">
  <ng-template pTemplate="content">
  <form  [formGroup]="editarDataPgtoform">
    <div class="col-12 md:col-12">
      <div class="p-inputgroup">
          <span pButton class="p-inputgroup-addon"><i class="pi pi-calendar"></i></span>
          <input type="date" pInputText placeholder="VENCIMENTO" formControlName="dataPagamento" name="dataPagamento" >
          <button type="button" pButton pRipple icon="pi pi-refresh" styleClass="p-button-warn"  [disabled]="!editarDataPgtoform.valid"
          (click)="manterDataPagamento()"></button>
      </div>
  </div>

  </form>
  </ng-template>
</p-dialog>
<p-dialog header="" [(visible)]="editarLocalPgtoDialog">
  <ng-template pTemplate="content">
  <form  [formGroup]="editarLocalPgtoform">
    <div class="col-12 md:col-12">
      <div class="p-inputgroup">
          <span pButton class="p-inputgroup-addon"><i class="pi pi-map"></i></span>
          <input type="text" pInputText placeholder="LOCAL PAGAMENTO" formControlName="localPagamento" name="localPagamento" >
          <button type="button" pButton pRipple icon="pi pi-refresh" styleClass="p-button-warn"  [disabled]="!editarLocalPgtoform.valid"
          (click)="manterLocalPgto()"></button>
      </div>
  </div>

  </form>
  </ng-template>
</p-dialog>
<p-dialog header="" [(visible)]="editarDescontoDialog">
  <ng-template pTemplate="content">
  <form  [formGroup]="editarDescontoform">
    <div class="col-12 md:col-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">R$</span>
          <input type="text" pInputText placeholder="DESCONTO" formControlName="desconto" name="desconto" >
          <button type="button" pButton pRipple icon="pi pi-refresh" styleClass="p-button-warn"  [disabled]="!editarDescontoform.valid"
          (click)="manterDesconto()"></button>
      </div>
  </div>

  </form>
  </ng-template>
</p-dialog>

<p-dialog header="" [(visible)]="editarJurosMultaDialog">
  <ng-template pTemplate="content">
  <form  [formGroup]="editarJurosMultatoform">
    <div class="col-12 md:col-12">
      <div class="p-inputgroup">
        <span class="p-inputgroup-addon">R$</span>
          <input type="text" pInputText placeholder="JUROS/MULTA" formControlName="jurosMulta" name="jurosMulta" >
          <button type="button" pButton pRipple icon="pi pi-refresh" styleClass="p-button-warn"  [disabled]="!editarJurosMultatoform.valid"
          (click)="manterJurosMulta()"></button>
      </div>
  </div>

  </form>
  </ng-template>
</p-dialog>

<p-sidebar [(visible)]="displaySideBar" [style]="{height:'20em'}"  position="bottom" >

  <ng-template pTemplate="content">

    <p-card>

      <p-table [value]="detalheContas">
        <ng-template pTemplate="header">
        <tr>
          <th>OBSERVVAÇÃO</th>
          <th>JUROS/MULTA</th>
          <th>DESCONTO</th>
          <th >LOC PGTO</th>
          <th >CLASSIFICAÇÃO</th>
        </tr>
        </ng-template>
        <ng-template pTemplate="body" let-c>
          <tr>
          <td>{{c.observacao}}</td>
           <td  style="color:blue" (click)="editarJurosMulta(c)">{{c.jurosMulta  | currency }}</td>
           <td  style="color:blue" (click)="editarDesconto(c)">{{c.desconto  | currency }}</td>
           <td  style="color:blue" (click)="editarLocalPagamento(c)">
            <div *ngIf="c.localPagamento"> {{c.localPagamento }}</div>
            <button *ngIf="!c.localPagamento" pButton pRipple icon="pi pi-map" class="p-button-rounded p-button-text p-button-lg p-button-primary"
          (click)="editarLocalPagamento(c)"></button>
           </td>
           <td>{{c.classificacaoDespesa }} / {{c.subClassificacaoDespesa }}</td>
        </tr>
      </ng-template>
      </p-table>
      <ng-template pTemplate="footer">

      </ng-template>
  </p-card>

  </ng-template>
</p-sidebar>

<p-dialog header="" [(visible)]="formDeleteLOteDialog">
  <ng-template pTemplate="content">
  <form  [formGroup]="formDeteleLote">
    <div class="col-12 md:col-12">
      <div class="p-inputgroup">
          <input type="text" pInputText placeholder="Nº Documento" formControlName="numeroDocumento" name="numeroDocumento" >
          <button type="button" pButton pRipple icon="pi pi-trash" class="p-button-danger"  [disabled]="!formDeteleLote.valid"
          (click)="deleteEmLote()"></button>
      </div>
  </div>

  </form>
  </ng-template>
</p-dialog>


