@import '_prime-ng';
@import '_prime-flex';
@import '_spinner';
@import "./../layout/styles/layout/layout.scss";

:host ::ng-deep .p-button-label{
  text-align: center;
  color: black;
  font-weight: 900;

}
